[Desktop Entry]
Name=Sleevie
Comment=Now playing widget for Linux
Exec=/home/david/Projects/sleevie/run.sh
Icon=multimedia-player
Terminal=false
Type=Application
Categories=AudioVideo;Audio;Player;
Keywords=music;now playing;mpris;album;artwork;
